@use 'sass:color';
@use './variables' as *;

.dark-mode {
    background-color: color.adjust($grisOscuro, $lightness: -10%);
    color: $blanco;

    p {
        color: $blanco;
    }

    a,
    h1,
    h2,
    h3,
    h4 {
        color: $gris;
    }

    .anuncio,
    .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }

        .icono {
            filter: invert(100%);
            -webkit-filter: invert(100%);
        }
    }


    .texto-nosotros blockquote {
        color: $blanco;

    }

    table.propiedades {
        thead {
            background-color: color.adjust($grisOscuro, $lightness: -5%);
        }

        tbody {
            color: $blanco;
        }

        th,
        td {
            color: $blanco;
            border-bottom: 1px solid color.adjust($grisOscuro, $lightness: 10%);
        }
    }

    .formulario {
        color: $blanco;
    }

    .formulario {

        label,
        legend,
        p {
            color: $gris;
            background-color: transparent;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;

            &::placeholder {
                color: color.adjust($gris, $lightness: -15%);
            }

            &:focus {
                border: 1px solid $verde;
                outline: none;
            }
        }

        select option {
            background-color: $grisOscuro;
            color: $blanco;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-text-fill-color: $blanco;
            -webkit-box-shadow: 0 0 0px 1000px $grisOscuro inset;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

}
