@use '../base/variables' as *;
@use '../base/mixins' as *;

.no-webp .inicio {
  background-image: url("/build/img/header.jpg");
  background-position: center;
  background-size: cover;
}

.inicio {
  background-image: url("/build/img/header.webp");
  background-position: center;
  background-size: cover;
}

.header {
  background-color: $grisOscuro;
  padding: 1rem 0 3rem;

  &.inicio {
    @include tablet {
      min-height: 70rem;
    }

    .contenido-header {
      @include tablet {
        min-height: 70rem;
      }
    }
  }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  h1 {
    text-align: left;
    color: $blanco;
    font-weight: $bold;
    line-height: 2;
    max-width: 60rem;
  }
}
